# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.turbo
out

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Testing
coverage
.nyc_output

# TypeScript incremental build
*.tsbuildinfo

# Sentry
.sentryclirc
